# Dependencies
node_modules/

# Next.js
.next/
out/

# Production build
build/

# Environment variables (NUNCA subir al repo)
.env
.env.local
.env.production

# Database local
prisma/*.db
prisma/*.db-journal

# Uploads locales
public/uploads/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

.vercel
